html, body{
    height: 100%;
    background-color: hsl(218, 28%, 13%);
    color: #fff;
    margin: 0 auto;
}
nav{
    height: 100%;
}
.container{
    display: flex;
    list-style: none;
}
.container > li > img{
    width: 200px;
}
.container > .logo{
    margin-left: auto;
}
.container > .feature{
    padding-top: 15px;
    padding-right: 30px;
}
@media screen and (max-width: 768px){
    .container > .feature{
        padding-top: 20px;
        padding-right: 10px;
    }
    .container > li > img{
        width: 100px;
        height: 30px;
        padding-top: 15px;
    }
}
.intro-container{
    display: flex;
    background-color: hsl(217, 28%, 15%);
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 25em;
}
.intro-container > div{
    text-align: center;
    flex: 1 1 25%;
}

.intro-container > div > img{
    width: 50%;
    /* height: 100%; */
    object-fit: cover;
}
@media screen and (max-width: 1200px){
    .intro-container{
        padding: 0;
    }
}
@media screen and (max-width: 768px){
   .intro-container{
       padding: 0 2em;
   }
}
@media screen and (max-width: 360px){
    .intro-container{
        padding: 0;
    }
 }
.features{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 2em;
    justify-items: end;
    align-items: center;
    text-align: center;
    padding: 10em;
}
.features > div{
    padding-bottom: 2em;
}
@media screen and (max-width: 768px){
    .features{
        grid-template-columns: 1fr;
        padding: 2.5em;
    }
}
.teams{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.teams > div{
    padding: 1em;
}
.teams > div > img{
    width: 100%;
}
.teams > div > h1{
    width: 40%;
    padding-top: 1.5em;
}
@media screen and (max-width: 768px){
    .teams{
        grid-template-columns: 1fr;
    }
    .teams > div > h1{
        width: 100%;
        padding-top: 0.5em;
    }
}
@media screen and (max-width: 360px){
    .teams{
        grid-template-columns: 1fr;
    }
}

.quote-section{
    display: grid;
   height: 100%;
   grid-gap: 30px;
   grid-template-columns: repeat(3,1fr);
   grid-auto-rows: minmax(200px, auto);
   justify-content: center;
   align-content: center;
    background-image: url(../fylo-dark-theme-landing-page-master/fylo-dark-theme-landing-page-master/images/bg-quotes.png);
   background-repeat: no-repeat;
   background-position:4% 7px;
   background-size: auto;
   margin-top: 110px;
   padding: 40px;
}
@media screen and (max-width: 768px){
    .quote-section{
        grid-template-columns: 1fr;
        padding: 1em;
        background-position: 1% -6px;
    }
    /* .quotes{
        padding: 50em;
    } */
}
.quotes{
    background-color: hsl(219, 30%, 18%);
    padding: 30px;
}
.quotes img{
    border-radius: 50%;
    width: 18%;
    /* justify-items:right; */
}
.quote{
    display: flex;
    flex-direction: row;
}
.quote p{
    padding-left: 15px;
}
.quote p small{
    display: block;
}

.sign-in{
    display: flex;
   /* width: 50%; */
    /* background-color: hsl(217, 28%, 15%); */
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 4em 0 4em;
    text-align: center;
}
.sign-in > div{
    background-color: hsl(217, 28%, 15%);
    width: 50%;
    /* padding: 0 3.5em 0 3.5em; */
    position: relative;
    top: 100px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
}
.sign-in > div > input[type='email']{
    width: 72%;
    height: 40px;
    border: none;
    border-radius: 23px;
    outline: none;
    margin-right: 12px;
}
.sign-in div > input[type='button']{
    height: 40px;
    border: none;
    border-radius: 23px;
    outline: none;
    background: linear-gradient(-45deg, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
    color: hsl(0, 0%, 100%);

}
@media screen and (max-width: 768px){
    .sign-in > div{
        width: 80%;
    }
    .sign-in div > input[type='button']{
        width: 72%;
        margin-top: 15px;
    }
    .sign-in{
        padding: 0 0.5em 0 0.5em;
    }
    .sign-in > div{
        padding: 0 1.5em 0 1.5em;
    }
}
footer{
    background-color: hsl(216, 53%, 9%);
    padding:0px 40px;
}
footer > img{
    padding-left:30px;
    padding-top: 150px;
}
.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.footer > div > ul{
    list-style: none;
}
.footer > div > ul > li > img{
    width: 10px;
    height: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 768px){
    .footer{
        grid-template-columns: 1fr;
    }
    footer{
        padding: 0;
    }
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}